@font-face {
  font-family:'HeliosC';
  src: font-url('Helios/HeliosC.eot');
  src: font-url('Helios/HeliosC.ttf') format('truetype');
  src: font-url('Helios/HeliosC.eot?#iefix') format('embedded-opentype'),
  font-url('Helios/HeliosC.woff') format('woff'),
  font-url('Helios/HeliosC.ttf') format('truetype'),
  font-url('Helios/HeliosC.svg#HeliosC') format('svg');
}

@font-face {
  font-family: 'HeliosCondC';
  src: font-url('Helios/HeliosCondC.eot');
  src: font-url('Helios/HeliosCondC.eot') format('embedded-opentype'),
  font-url('Helios/HeliosCondC.woff2') format('woff2'),
  font-url('Helios/HeliosCondC.woff') format('woff'),
  font-url('Helios/HeliosCondC.ttf') format('truetype'),
  font-url('Helios/HeliosCondC.svg#HeliosCondC') format('svg');
}

@font-face {
  font-family: 'HeliosLightC';
  src: font-url('Helios/HeliosLightC.eot');
  src: font-url('Helios/HeliosLightC.eot') format('embedded-opentype'),
  font-url('Helios/HeliosLightC.woff2') format('woff2'),
  font-url('Helios/HeliosLightC.woff') format('woff'),
  font-url('Helios/HeliosLightC.ttf') format('truetype'),
  font-url('Helios/HeliosLightC.svg#HeliosLightC') format('svg');
}

@font-face {
  font-family: 'HeliosThinC';
  src: font-url('Helios/HeliosThinC.eot');
  src: font-url('Helios/HeliosThinC.eot') format('embedded-opentype'),
  font-url('Helios/HeliosThinC.woff2') format('woff2'),
  font-url('Helios/HeliosThinC.woff') format('woff'),
  font-url('Helios/HeliosThinC.ttf') format('truetype'),
  font-url('Helios/HeliosThinC.svg#HeliosThinC') format('svg');
}

@font-face {
  font-family: 'NovecentosanswideNormal';
  src: font-url('Novecento/NovecentosanswideNormal.eot');
  src: font-url('Novecento/NovecentosanswideNormal.eot') format('embedded-opentype'),
  font-url('Novecento/NovecentosanswideNormal.woff2') format('woff2'),
  font-url('Novecento/NovecentosanswideNormal.woff') format('woff'),
  font-url('Novecento/NovecentosanswideNormal.ttf') format('truetype'),
  font-url('Novecento/NovecentosanswideNormal.svg#NovecentosanswideNormal') format('svg');
}
