html, body {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #212121;
  line-height: 1.5;
}

p {
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}

h2 {
  font-family: HeliosLightC, Arial, sans-serif;
}

.container {
  min-height: 100%;
  position: relative;
}

.content {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
  padding-bottom: 90px;
}

.about {
  margin-top: 60px;
  font-size: 0;
}

.meetings, .projects {
  font-size: 0;
}

@media (min-width: 320px) and (max-width: 639px) {
  .about {
    margin-top: 0;
  }

  .content {
    margin-top: 72px;
    padding: 0 0 50px;
  }
}
