.menu {
  display: none;
}

.header_nav {
  position: relative;
}

.menu-mobile {
  display: block;
  position: absolute;
  left: 0;
  top: 70px;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  background-color: #fff;
  padding: 10px 35px 10px;

  &_btn {
    display: inline-block;
  }

  &_item {
    padding: 10px 0 10px;

    a {
      font-size: 16px;
      text-decoration: none;
    }
  }

}

.wide-block {
  width: 100%;
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;

  &_image {
    position: relative;
  }

  &_text {
    padding-top:0;
    position: absolute;
    left: 10px;
    top: 20px;
  }
}

.big-block {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;

  &_image {
    position: relative;
    width: 100%;
    height: auto;
    transform: none;

    &__right {
      width: auto;
      height: 640px;
    }
  }

  &_text {
    padding-top: 0;
    top: -20px;
    padding-bottom: 20px;

    &__left {
      padding-top: 0px;
      margin-top: 0;
      padding-bottom: 30px;
      position: absolute;
      bottom: 0;
      left: -20px;
      color: #fff;
      top: initial;

      h2 {
        color: #fff;
      }
    }

    &__right {
      padding-top: 0px;
      margin-top: 0;
      padding-bottom: 30px;
      position: absolute;
      bottom: 0;
      left: 30px;
      color: #fff;
      top: initial;
    }

    &__black {
      color: #483435;

      h2 {
        color: #483435;
      }
    }
  }

  &__hidden {
    overflow: visible;
  }

}

.tall-tile {
  width: 100%;
  height: auto;

  &_image {
    position: relative;
    width: 100%;
    height: auto;

    &__smaller {
      width: 110%;
      height: auto;
    }

    &__smallest {
      width: 110%;
      margin-left: -10%;
      height: auto;
    }
  }

  &__smaller, &__smallest {
    width: 110%;
    height: auto;
  }

  &_text {
    margin: 0;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    p {
      font-size: 16px;
    }

    h2 {
      font-size: 40px;
    }
  }

  & .small-block:nth-child(2n) {
    display: none;
  }
}

.small-block {
  position: relative;
  width: 100%;
  height: auto;
  overflow: visible;

  &_image {
    position: relative;
    width: 100%;
    height: auto;
  }

  &_text {
    position: absolute;
    margin-top: 0px;

    &.small-block_text__desc {
      position: initial;
      margin: 10px 0 10px;

        p {
          font-size: 16px;
        }

        h2 {
          font-size: 30px;
        }
      }
    }
  }

.separator_title {
  width: 100%;
  margin: 0;
}

.image__big {
  display: none;
}

.image__small {
  display: block;
}

.content {
  padding-bottom: 50px;
}

.footer_container {
  width: 100%;
  margin: 0 35px 0;
  padding: 45px 0 0;
}

.locations-list {
  display: none;
}
