.header_nav {
  padding: 20px 20px;
}

.menu_item {
  margin-right: 20px;
}

.wide-block {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

.big-block {
  display: block;
  width: 640px;
  margin: 0 auto;
  height: 640px;
  overflow: hidden;

  &_text {
    padding-bottom: 30px;
  }
}

.tall-tile {
  width: 320px;

  &:nth-child(2n+1) {
    margin-left: calc(50% - 320px);
  }

  &:nth-child(2n+2) {
    margin-right: calc(50% - 320px);
  }

  &.triangle__right {
    margin-right: 0;
    margin-left: calc(50% - 320px);

    &+.tall-tile {
      margin-left: 0;
      margin-right: calc(50% - 320px);
    }
  }

  &_image {
    width: 100%;
  }
}

.small-block {
  width: 320px;
  height: 320px;

  &_image {
    width: 100%;
    height: auto;
  }
}

.separator_title {
  width: 640px;
  margin: 0 auto;
}

.footer_container {
  position: relative;
  width: 640px;
  margin: 0 auto;
  padding: 25px 0 65px;
}

.footer_contacts {
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 640px;
  box-sizing: border-box;
  background-position: top 5px right 0;
  padding-left: 0px;
  padding-right: 90px;
  text-align: right;
  margin-right: 0;
}

.locations-list {
  text-align: right;
  display: block;
  width: 640px;
  margin: 10px auto 30px;
}

.social-list {
  display: none;
}
